<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EqupMenMapper">

<!-- 信用卡收单终端信息查询-->
<select id="equpQueryOneService"  resultType="Map" parameterType="Map" >
  Select * from abequp
          Where `pos_no` = #{pos_no} and `del`='N'
          
    </select>
    
<!-- 信用卡收单终端信息维护-->
 <update id="editOneService" parameterType="Map">
     UPDATE 	`abequp`
     SET
      
      `pos_no` = #{pos_no},
      `merch_no` = #{merch_no},
      `mcc_code` = #{mcc_code},
      `serial_no` = #{serial_no},
      `equip_tpye` = #{equip_tpye},
      `firm` = #{firm},
      `comm_way` = #{comm_way},
      `belong_org` = #{belong_org},
      `res_date` = #{res_date},
      `access_net`=#{access_net},
      `update_time` = #{update_time},
      `update_user` = #{update_user}
      
       WHERE
	 `pos_no` =#{pos_no}
</update>

<!-- 信用卡收单终端信息添加 -->
<insert id="insertService" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `abequp`(
   
    `pos_no`,
    `merch_no`,
    `mcc_code`,
    `serial_no`,
    `equip_tpye`,
    `firm`,
    `comm_way`,
    `belong_org`,
    `res_date`,
    `access_net`,
    `del`,
	`create_time`,
	`create_user`,
	`update_time`,
	`update_user`
   
)
   VALUES
      (
     
      #{pos_no},
      #{merch_no},
      #{mcc_code},
      #{serial_no},
      #{equip_tpye},
      #{firm},
      #{comm_way},
      #{belong_org},
      #{res_date},
      #{access_net},
      'N',
	  #{create_time},
	  #{create_user},
	  #{update_time},
	  #{update_user}
				
			
      
      )

</insert>

<!-- 信用卡收单终端信息清单查询-->
<select id="equpQueryListService_count" resultType="Long" parameterType="Map">
    select count(*) as `count` 
		from `abequp` a
		<include refid="equpQueryListService_condition" />
		</select>
	<!-- 信息查询 -->
	<select id="equpQueryListService" resultType="Map" parameterType="Map">
	    select
	    a.`pos_no` AS "pos_no_o",
		a.`merch_no` AS "merch_no_o",
		a.`serial_no` AS "serial_no_o",
		a.`equip_tpye` AS "equip_tpye_o",
		a.`comm_way` AS "comm_way_o",
		a.`belong_org` AS "belong_org_o",
		a.`res_date` AS "res_date_o"
		from `abequp` a
		<include refid="equpQueryListService_condition" />
        LIMIT ${offset},${limit}
		</select>
		
	<!-- 条件 -->
	<sql id="equpQueryListService_condition">
	<where>
			 1=1
			<!-- 自定义搜索 -->
			<if test="merch_no !=null and merch_no !='' ">and a.`merch_no`=#{merch_no}  </if>
			<if test="mcc_code !=null and mcc_code !='' ">and a.`mcc_code`=#{mcc_code}  </if>
			<if test="equip_tpye !=null and equip_tpye !='' ">and a.`equip_tpye`=#{equip_tpye}  </if>
			<if test="belong_org !=null and belong_org !='' ">and a.`belong_org`=#{belong_org}  </if>
			<if test="access_net !=null and access_net !='' ">and a.`access_net`=#{access_net}  </if>
		</where>
	</sql>
	

          
  </mapper> 