<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tranResvInqMapper">
<!-- 单条查询 -->
	<select id="tranResvQueryOneService" resultType="Map"
		parameterType="Map">
		SELECT
		`pbfresrv_rsv_id` as `rsv_id`,
		`pbfresrv_cust_id` as `cust_id`,
		`pbfresrv_rsv_date` as `rsv_date`,
		`pbfresrv_out_acct` as `out_acct`,
		`pbfresrv_out_ccy` as `out_ccy`,
		`pbfresrv_out_amt` as `out_amt`,
		`pbfresrv_in_acct` as `in_acct`,
		`pbfresrv_trans_comment` as `trans_comment`,
		`pbfresrv_rsv_comment` as `rsv_comment`,
		`pbfresrv_rsv_create_date` as `rsv_create_date`,
		`pbfresrv_trans_stat` as `trans_stat`
		FROM
		pb_resrv
		WHERE
		`del` = 'N'
		AND
		`pbfresrv_rsv_id`= #{rsv_id}
	</select>
</mapper>