<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FmActItemLstMapper">
	   			
	<!-- 多条查询 -->
	<!-- 总数查询 -->
	<select id="actItemQueryListService_count" resultType="Long" parameterType="Map">
		select count(*) as `count` 
		from `fm_lgitem_detail` a
		<include refid="actItemQueryListService_condition" />
	</select>
	<!-- 信息查询 -->
	<select id="actItemQueryListService" resultType="Map" parameterType="Map">  
		select 
		    a.`item_key`,
			a.`buss_type`,
			a.`bal_dire_flg`,
			a.`crnt_prd_cd`,
			a.`frz_sts`,
			a.`acct_sts`,
			a.`intc_flg`,
			a.`intc_cycle`,
			a.`acct_page_fmt`,
			a.`acct_mode`,
			a.`open_mode`
		from `fm_lgitem_detail` a
		<include refid="actItemQueryListService_condition" /> 
		<!-- 默认 -->
		<if test="sortName !=null and sortName !='' ">ORDER BY `${sortName}` ${sortOrder}   </if>
		LIMIT ${offset},${limit}
	</select>
	<!-- 条件 -->
	<sql id="actItemQueryListService_condition">
		<where>
		    1=1 and a.`del`='N' 
		    <!-- 自定义搜索 -->
		    <if test="item_key !=null and item_key !='' ">and a.`item_key`=#{item_key}  </if>
		    <if test="buss_type !=null and buss_type !='' ">and a.`buss_type`=#{buss_type}  </if>
		    <!-- 默认搜索 -->
		    <if test="create_time !=null and create_time !='' ">and (a.create_time>#{create_time_start}  and a.create_time &lt; #{create_time_end} )</if>
			<if test="create_user !=null and create_user !='' ">and a.create_user like concat('%',#{create_user},'%') </if>
			<if test="update_time !=null and update_time !='' ">and (a.update_time>#{update_time_start}  and a.update_time &lt; #{update_time_end} )</if>
			<if test="update_user !=null and update_user !=''">and a.update_user like concat('%',#{update_user},'%') </if>
		</where>
	</sql>
	
	
		
</mapper>