<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fmitemupdMapper">
	
	<!-- Result Map   PO对象字段和表字段的映射-->
	<resultMap id="FmAcctItemResultMap" type="com.clps.fm.pojo.FmLgdProcPo" >
		<result column="item_key" property="item_key"/>
		<result column="op_time_stamp" property="op_time_stamp"/>
		<result column="buss_type" property="buss_type"/>
		<result column="item_name" property="item_name"/>
		<result column="face_bal" property="face_bal"/>
		<result column="afc_bal" property="afc_bal"/>
		<result column="bal_dire_flg" property="bal_dire_flg"/>
		<result column="crnt_day_dr_amt" property="crnt_day_dr_amt"/>
		<result column="crnt_day_cr_amt" property="crnt_day_cr_amt"/>
		<result column="crnt_day_dr_qty" property="crnt_day_dr_qty"/>
		<result column="crnt_day_cr_qty" property="crnt_day_cr_qty"/>
		<result column="mnaccum_dr_amt" property="mnaccum_dr_amt"/>
		<result column="mnaccum_cr_amt" property="mnaccum_cr_amt"/>
		<result column="mnaccum_dr_item" property="mnaccum_dr_item"/>
		<result column="mnaccum_cr_item" property="mnaccum_cr_item"/>
		<result column="mnaccum_dr_bal" property="mnaccum_dr_bal"/>
		<result column="mnaccum_cr_bal" property="mnaccum_cr_bal"/>
		<result column="ssn_dr_totl_amt" property="ssn_dr_totl_amt"/>
		<result column="ssn_cr_totl_amt" property="ssn_cr_totl_amt"/>
		<result column="ssn_dr_totl_number" property="ssn_dr_totl_number"/>
		<result column="ssn_cr_totl_number" property="ssn_cr_totl_number"/>
		<result column="ssn_dr_totl_bal" property="ssn_dr_totl_bal"/>
		<result column="ssn_cr_totl_bal" property="ssn_cr_totl_bal"/>
		<result column="yr_accum_dr_amt" property="yr_accum_dr_amt"/>
		<result column="yr_accum_cr_amt" property="yr_accum_cr_amt"/>
		<result column="yr_accum_dr_qty" property="yr_accum_dr_qty"/>
		<result column="yr_accum_cr_qty" property="yr_accum_cr_qty"/>
		<result column="yr_accum_dr_bal" property="yr_accum_dr_bal"/>
		<result column="yr_accum_cr_bal" property="yr_accum_cr_bal"/>
		<result column="dr_gl_intr_typ" property="dr_gl_intr_typ"/>
		<result column="dr_gl_mass_amt_rang" property="dr_gl_mass_amt_rang"/>
		<result column="cr_gl_intr_typ" property="cr_gl_intr_typ"/>
		<result column="cr_gl_mass_amt_rang" property="cr_gl_mass_amt_rang"/>
		<result column="dr_flt_intr" property="dr_flt_intr"/>
		<result column="cr_flt_intr" property="cr_flt_intr"/>
		<result column="tprd_acc_bal" property="tprd_acc_bal"/>
		<result column="crnt_prd_cd" property="crnt_prd_cd"/>
		<result column="acct_largst_bal" property="acct_largst_bal"/>
		<result column="over_draw_lagst_amt" property="over_draw_lagst_amt"/>
		<result column="over_draw_start_dt" property="over_draw_start_dt"/>
		<result column="last_acc_int_dt" property="last_acc_int_dt"/>
		<result column="last_tsf_accbal_dt" property="last_tsf_accbal_dt"/>
		<result column="last_acc_dt" property="last_acc_dt"/>
		<result column="opac_dt" property="opac_dt"/>
		<result column="close_dt" property="close_dt"/>
		<result column="frz_sts" property="frz_sts"/>
		<result column="acct_sts" property="acct_sts"/>
		<result column="intc_flg" property="intc_flg"/>
		<result column="intc_cycle" property="intc_cycle"/>
		<result column="pay_int_acct_no" property="pay_int_acct_no"/>
		<result column="cola_int_acct_no" property="cola_int_acct_no"/>
		<result column="gl_peroid_nums_n" property="gl_peroid_nums_n"/>
		<result column="gl_peroid_unit" property="gl_peroid_unit"/>
		<result column="respon_cent" property="respon_cent"/>
		<result column="gl_instn_inq_lmt" property="gl_instn_inq_lmt"/>
		<result column="gl_instn_rcrd_lmt" property="gl_instn_rcrd_lmt"/>
		<result column="gl_instn_clsacc_lmt" property="gl_instn_clsacc_lmt"/>
		<result column="gl_acct_lmt_rsv" property="gl_acct_lmt_rsv"/>
		<result column="acct_page_fmt" property="acct_page_fmt"/>
		<result column="acct_mode" property="acct_mode"/>
		<result column="opun_inst" property="opun_inst"/>
		<result column="cust_no" property="cust_no"/>
		<result column="opun_cod" property="opun_cod"/>
		<result column="gl_finbusn" property="gl_finbusn"/>
		<result column="gl_author" property="gl_author"/>
		<result column="amndr_no" property="amndr_no"/>
		<result column="second_bill_type" property="second_bill_type"/>
		<result column="second_last_bal" property="second_last_bal"/>
		<result column="second_bal" property="second_bal"/>
		<result column="lst_prt_rcd_dt" property="lst_prt_rcd_dt"/>
		<result column="max_prnt_txn_no" property="max_prnt_txn_no"/>
		<result column="open_mode" property="open_mode"/>
		<result column="intr_rcrd_flg" property="intr_rcrd_flg"/>
		<result column="gl_accget_tax_flg" property="gl_accget_tax_flg"/>
		<result column="gl_accget_fee_flg" property="gl_accget_fee_flg"/>
		<result column="gl_accget_invest_bnd_flg" property="gl_accget_invest_bnd_flg"/>
		<result column="gl_accget_lgtm_invst_prof" property="gl_accget_lgtm_invst_prof"/>
		<result column="gl_check_flg" property="gl_check_flg"/>
		<result column="gl_book_sub_flg" property="gl_book_sub_flg"/>
		<result column="gl_accget_reserved7" property="gl_accget_reserved7"/>
		<result column="gl_accget_reserved8" property="gl_accget_reserved8"/>
		<result column="gl_accget_reserved9" property="gl_accget_reserved9"/>
		<result column="gl_accget_reserved10" property="gl_accget_reserved10"/>
		<result column="gl_mod_num_n" property="gl_mod_num_n"/>
		<result column="gl_max_sub_no" property="gl_max_sub_no"/>
		<result column="gl_info_cod_filler" property="prod_flg_gl_info_cod_filler"/>
		<result column="oppo_acct_no" property="oppo_acct_no"/>
		<result column="auto_invst_intr_cod" property="auto_invst_intr_cod"/>
		<result column="auto_invst_flt_intr" property="auto_invst_flt_intr"/>
		<result column="cost_cntr" property="cost_cntr"/>
		<result column="due_dt" property="due_dt"/>
		<result column="dlay_flg" property="dlay_flg"/>
		<result column="over_draw_accum" property="over_draw_accum"/>
		<result column="extn_sts" property="extn_sts"/>
		<result column="dt_bgst_seq_no_n" property="dt_bgst_seq_no_n"/>
		<result column="last_bal" property="last_bal"/>
		<result column="second_bill_dr_amt" property="second_bill_dr_amt"/>
		<result column="second_bill_cr_amt" property="second_bill_cr_amt"/>
		<result column="acct_max_bal" property="acct_max_bal"/>
		<result column="opac_instn" property="opac_instn"/>
		<result column="del" property="del"/>
		<result column="create_time" property="create_time"/>
		<result column="create_user" property="create_user"/>
		<result column="update_time" property="update_time"/>
		<result column="update_user" property="update_user"/>
	</resultMap>
    	
	<!-- 编辑 -->
	<update id="editOneServiceitemupd" parameterType="fmlgitm">
		update `fm_lgitem_detail`
		set 
		    `item_key` =#{item_key},
			`op_time_stamp` =#{op_time_stamp},
			`buss_type` =#{buss_type},
			`item_name` =#{item_name},
			`face_bal` =#{face_bal},
			`afc_bal` =#{afc_bal},
			`bal_dire_flg` =#{bal_dire_flg},
			`crnt_day_dr_amt` =#{crnt_day_dr_amt},
			`crnt_day_cr_amt` =#{crnt_day_cr_amt},
			`crnt_day_dr_qty` =#{crnt_day_dr_qty},
			`crnt_day_cr_qty` =#{crnt_day_cr_qty},
			`mnaccum_dr_amt` =#{mnaccum_dr_amt},
			`mnaccum_cr_amt` =#{mnaccum_cr_amt},
			`mnaccum_dr_item` =#{mnaccum_dr_item},
			`mnaccum_cr_item` =#{mnaccum_cr_item},
			`mnaccum_dr_bal` =#{mnaccum_dr_bal},
			`mnaccum_cr_bal` =#{mnaccum_cr_bal},
			`ssn_dr_totl_amt` =#{ssn_dr_totl_amt},
			`ssn_cr_totl_amt` =#{ssn_cr_totl_amt},
			`ssn_dr_totl_number` =#{ssn_dr_totl_number},
			`ssn_cr_totl_number` =#{ssn_cr_totl_number},
			`ssn_dr_totl_bal` =#{ssn_dr_totl_bal},
			`ssn_cr_totl_bal` =#{ssn_cr_totl_bal},
			`yr_accum_dr_amt` =#{yr_accum_dr_amt},
			`yr_accum_cr_amt` =#{yr_accum_cr_amt},
			`yr_accum_dr_qty` =#{yr_accum_dr_qty},
			`yr_accum_cr_qty` =#{yr_accum_cr_qty},
			`yr_accum_dr_bal` =#{yr_accum_dr_bal},
			`yr_accum_cr_bal` =#{yr_accum_cr_bal},
			`dr_gl_intr_typ` =#{dr_gl_intr_typ},
			`dr_gl_mass_amt_rang` =#{dr_gl_mass_amt_rang},
			`cr_gl_intr_typ` =#{cr_gl_intr_typ},
			`cr_gl_mass_amt_rang` =#{cr_gl_mass_amt_rang},
			`dr_flt_intr` =#{dr_flt_intr},
			`cr_flt_intr` =#{cr_flt_intr},
			`tprd_acc_bal` =#{tprd_acc_bal},
			`crnt_prd_cd` =#{crnt_prd_cd},
			`acct_largst_bal` =#{acct_largst_bal},
			`over_draw_lagst_amt` =#{over_draw_lagst_amt},
			`over_draw_start_dt` =#{over_draw_start_dt},
			`last_acc_int_dt` =#{last_acc_int_dt},
			`last_tsf_accbal_dt` =#{last_tsf_accbal_dt},
			`last_acc_dt` =#{last_acc_dt},
			`opac_dt` =#{opac_dt},
			`close_dt` =#{close_dt},
			`frz_sts` =#{frz_sts},
			`acct_sts` =#{acct_sts},
			`intc_flg` =#{intc_flg},
			`intc_cycle` =#{intc_cycle},
			`pay_int_acct_no` =#{pay_int_acct_no},
			`cola_int_acct_no` =#{cola_int_acct_no},
			`gl_peroid_nums_n` =#{gl_peroid_nums_n},
			`gl_peroid_unit` =#{gl_peroid_unit},
			`respon_cent` =#{respon_cent},
			`gl_instn_inq_lmt` =#{gl_instn_inq_lmt},
			`gl_instn_rcrd_lmt` =#{gl_instn_rcrd_lmt},
			`gl_instn_clsacc_lmt` =#{gl_instn_clsacc_lmt},
			`gl_acct_lmt_rsv` =#{gl_acct_lmt_rsv},
			`acct_page_fmt` =#{acct_page_fmt},
			`acct_mode` =#{acct_mode},
			`opun_inst` =#{opun_inst},
			`cust_no` =#{cust_no},
			`opun_cod` =#{opun_cod},
			`gl_finbusn` =#{gl_finbusn},
			`gl_author` =#{gl_author},
			`amndr_no` =#{amndr_no},
			`second_bill_type` =#{second_bill_type},
			`second_last_bal` =#{second_last_bal},
			`second_bal` =#{second_bal},
			`lst_prt_rcd_dt` =#{lst_prt_rcd_dt},
			`max_prnt_txn_no` =#{max_prnt_txn_no},
			`open_mode` =#{open_mode},
			`intr_rcrd_flg` =#{intr_rcrd_flg},
			`gl_accget_tax_flg` =#{gl_accget_tax_flg},
			`gl_accget_fee_flg` =#{gl_accget_fee_flg},
			`gl_accget_invest_bnd_flg` =#{gl_accget_invest_bnd_flg},
			`gl_accget_lgtm_invst_prof` =#{gl_accget_lgtm_invst_prof},
			`gl_check_flg` =#{gl_check_flg},
			`gl_book_sub_flg` =#{gl_book_sub_flg},
			`gl_accget_reserved7` =#{gl_accget_reserved7},
			`gl_accget_reserved8` =#{gl_accget_reserved8},
			`gl_accget_reserved9` =#{gl_accget_reserved9},
			`gl_accget_reserved10` =#{gl_accget_reserved10},
			`gl_mod_num_n` =#{gl_mod_num_n},
			`gl_max_sub_no` =#{gl_max_sub_no},
			`gl_info_cod_filler` =#{gl_info_cod_filler},
			`oppo_acct_no` =#{oppo_acct_no},
			`auto_invst_intr_cod` =#{auto_invst_intr_cod},
			`auto_invst_flt_intr` =#{auto_invst_flt_intr},
			`cost_cntr` =#{cost_cntr},
			`due_dt` =#{due_dt},
			`dlay_flg` =#{dlay_flg},
			`over_draw_accum` =#{over_draw_accum},
			`extn_sts` =#{extn_sts},
			`dt_bgst_seq_no_n` =#{dt_bgst_seq_no_n},
			`last_bal` =#{last_bal},
			`second_bill_dr_amt` =#{second_bill_dr_amt},
			`second_bill_cr_amt` =#{second_bill_cr_amt},
			`acct_max_bal` =#{acct_max_bal},
			`opac_instn` =#{opac_instn}
		where
			`item_key`=#{item_key}
	</update>
	
</mapper>