<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FtPayInsertMapper">
	<insert id="insertService" parameterType="Map" useGeneratedKeys="true"
		keyProperty="rec-acct">
		insert into ft_pmrf(
		REC_ACCT,
		TXN_JOUR,
		TXN_STATUS,
		TXN_DATE,
		TXN_CODE,
		BUSINESS_TYPE,
		DEDUC_CARD_NO,
		DEDUC_NAME,
		DEDUC_BANK_CODE,
		DEDUC_BANK_NAME,
		DEDUC_BANK_NUMBER,
		PAY_PASSWORD,
		RECV_BANK_CODE,
		RECV_BANK_NAME,
		RECV_BANK_NUMBER,
		RECV_CARD_NO,
		RECV_NAME,
		TRANS_AMT,
		TRANS_CCY,
		GIRO_WAY,
		TRANS_TYPE,
		VOUCHER_KIND,
		CHARGE_TYPE,
		SERVICE_CHARGE_FUNC,
		SERVICE_CHARGE_AMT,
		RECORD_ID,
		CHECK_ID,
		CHECK_RESULT,
		REJECT_REASON,
		CHECK_DATE,
		CHECK_TIME,
		Remark,
		ACCUNT_WAY,
		create_user,
		create_time,
		update_user,
		update_time
		)values(
		#{REC_ACCT},
		#{TXN_JOUR},
		#{TXN_STATUS},
		#{TXN_DATE},
		#{TXN_CODE},
		#{BUSINESS_TYPE},
		#{DEDUC_CARD_NO},
		#{DEDUC_NAME},
		#{DEDUC_BANK_CODE},
		#{DEDUC_BANK_NAME},
		#{DEDUC_BANK_NUMBER},
		#{PAY_PASSWORD},
		#{RECV_BANK_CODE},
		#{RECV_BANK_NAME},
		#{RECV_BANK_NUMBER},
		#{RECV_CARD_NO},
		#{RECV_NAME},
		#{TRANS_AMT},
		#{TRANS_CCY},
		#{GIRO_WAY},
		#{TRANS_TYPE},
		#{VOUCHER_KIND},
		#{CHARGE_TYPE},
		#{SERVICE_CHARGE_FUNC},
		#{SERVICE_CHARGE_AMT},
		#{RECORD_ID},
		#{CHECK_ID},
		#{CHECK_RESULT},
		#{REJECT_REASON},
		#{CHECK_DATE},
		#{CHECK_TIME},
		#{Remark},
		#{ACCUNT_WAY},
		#{create_user},
		#{create_time},
		#{update_user},
		#{update_time}
		)
	</insert>
	
</mapper>