<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demoMapper">
	<!-- Result Map   PO对象字段和表字段的映射-->
	<resultMap id="DemoResultMap" type="com.clps.demo.pojo.DemoPo" >
		<result column="id" property="id"/>
		<result column="name" property="name1"/>
		<result column="sex" property="sex"/>
		<result column="desc" property="desc"/>
		<result column="del" property="del"/>
		<result column="del" property="del"/>
		<result column="create_time" property="create_time"/>
		<result column="create_user" property="create_user"/>
		<result column="update_time" property="update_time"/>
		<result column="update_user" property="update_user"/>
	</resultMap>
	
    <!-- 单条查询 -->
	<select id="demoQueryOneService"  resultType="Map" parameterType="demo" >
		SELECT
			`id`,
			`name`,
			`sex`,
			`desc`,
			`del`,
			`create_time`,
			`create_user`,
			`update_time`,
			`update_user`
		FROM
			demo
		WHERE
			`del` = 'N'
		AND `id` = #{id}
	</select>
	
	<!-- 删除 -->
	<update id="deleteOneService" parameterType="demo">
		UPDATE `demo` SET 
			`del`='Y',
			`update_time` = #{update_time},
		 	`update_user` = #{update_user}
		WHERE `id`=#{id}	
	</update>
	
	<!-- 编辑 -->
	<update id="editOneService" parameterType="demo">
		UPDATE `demo`
		SET 
		 <if test="name != null and name != '' ">`name` = #{name}, </if>
		 <if test="sex != null and sex != '' ">`sex` = #{sex}, </if>
		 <if test="desc != null and desc != '' ">`desc` = #{desc}, </if>
		 `update_time` = #{update_time},
		 `update_user` = #{update_user}
		WHERE
			`id`=#{id}
	</update>
	
	<!-- 添加新用户 -->
	<insert id="insertService" parameterType="demo" useGeneratedKeys="true" keyProperty="id">
	  INSERT INTO `demo` (
			`name`,
			`sex`,
			`desc`,
			`del`,
			`create_time`,
			`create_user`,
			`update_time`,
			`update_user`
		)
		VALUES
			(
				#{name1},
				#{sex},
				#{desc},
				'N',
				#{create_time},
				#{create_user},
				#{update_time},
				#{update_user}
			)
	</insert>
		
		
	<!-- 多条查询 -->
	<!-- 总数查询 -->
	<select id="demoQueryListService_count" resultType="Long" parameterType="Map">
		select count(*) as `count` 
		from `demo` a
		<include refid="demoQueryListService_condition" />
	</select>
	<!-- 信息查询 -->
	<select id="demoQueryListService" resultType="Map" parameterType="Map">  
		select 
		    a.`id`,
			a.`name`,
			a.`sex`,
			a.`desc`,
			a.`del`,
			a.`create_time`,
			a.`create_user`,
			a.`update_time`,
			a.`update_user`
		from `demo` a
		<include refid="demoQueryListService_condition" /> 
		<!-- 默认 -->
		<if test="sortName !=null and sortName !='' ">ORDER BY `${sortName}` ${sortOrder}   </if>
		LIMIT ${offset},${limit}
	</select>
	<!-- 条件 -->
	<sql id="demoQueryListService_condition">
		<where>
		    1=1 and a.`del`='N' 
		    <!-- 自定义搜索 -->
		    <if test="sex !=null and sex !='' ">and a.`sex`=#{sex}  </if>
		    <!-- 默认搜索 -->
		    <if test="create_time !=null and create_time !='' ">and (a.create_time>#{create_time_start}  and a.create_time &lt; #{create_time_end} )</if>
			<if test="create_user !=null and create_user !='' ">and a.create_user like concat('%',#{create_user},'%') </if>
			<if test="update_time !=null and update_time !='' ">and (a.update_time>#{update_time_start}  and a.update_time &lt; #{update_time_end} )</if>
			<if test="update_user !=null and update_user !=''">and a.update_user like concat('%',#{update_user},'%') </if>
		</where>
	</sql>
	
	
		
</mapper>