<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dpGxInqMapper">
<resultMap id="gxwrioff" type="com.clps.dp.pojo.DpGxwrioffPo" >
		<result column="card_nbr" property="card_nbr"/>
		<result column="acct_nbr" property="acct_nbr"/>
		<result column="card_number" property="card_number"/>
		<result column="relation_no" property="relation_no"/>
		<result column="prod_id" property="prod_id"/>
		<result column="acct_spec_date" property="acct_spec_date"/>
		<result column="acct_ccy" property="acct_ccy"/>
		<result column="acct_status" property="acct_status"/>
		<result column="subject_no" property="subject_no"/>
		<result column="writeoff_date" property="writeoff_date"/>
		<result column="writeoff_time" property="writeoff_time"/>
		<result column="del" property="del"/>
		<result column="create_time" property="create_time"/>
		<result column="create_user" property="create_user"/>
		<result column="update_time" property="update_time"/>
		<result column="update_user" property="update_user"/>
	</resultMap>
 <!-- 清户历史详细查询-->
	<select id="dpGxInq"  resultType="Map" parameterType="gxwrioff" >
		SELECT *			
		FROM
			dp_gxwrioff
		WHERE
			`card_nbr` = #{card_nbr}
		AND	`del` = 'N'
	</select>
	
	<!-- 清户历史列表查询-->
	<!-- 总数查询 -->
	<select id="dpGxCount" resultType="Long" parameterType="Map">
		select count(*) as `count` 
		from `dp_gxwrioff` a
		<include refid="dpGxListService_condition" />
	</select>
	<!-- 信息查询 -->
	<select id="dpGxListInqMapper"  resultType="Map" parameterType="Map" >
		SELECT 
			   a.`card_nbr`,
			   a.`acct_nbr`,
			   a.`cust_number`,
			   a.`writeoff_date`			
		FROM
			`dp_gxwrioff` a
		<include refid="dpGxListService_condition" /> 
	</select>
	<!-- 条件 -->
	<sql id="dpGxListService_condition">
		<where>
		    1=1 and a.`del`='N' 
		    <!-- 自定义搜索 -->
		    <if test="card_nbr !=null and card_nbr !='' ">and a.`card_nbr`=#{card_nbr}  </if>
		    <if test="writeoff_date !=null and writeoff_date !='' ">and a.`writeoff_date`=#{writeoff_date}  </if>
		    
		    <!-- 默认搜索 -->
		    <if test="create_time !=null and create_time !='' ">and (a.`create_time`>#{create_time_start}  and a.`create_time` &lt; #{create_time_end} )</if>
			<if test="create_user !=null and create_user !='' ">and a.`create_user` like concat('%',#{create_user},'%') </if>
			<if test="update_time !=null and update_time !='' ">and (a.`update_time`>#{update_time_start}  and a.`update_time` &lt; #{update_time_end} )</if>
			<if test="update_user !=null and update_user !=''">and a.`update_user` like concat('%',#{update_user},'%') </if>
		</where>
	</sql>
	
</mapper>