<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD SQL Map mapper2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="custRelationMapper">

    <resultMap id="RmrealResultMap" type="com.clps.rm.pojo.RmrealPo">
        <result column="creal_cus_num" property="creal_cus_num"/>
        <result column="creal_retype" property="creal_retype"/>
        <result column="creal_rel_cus" property="creal_rel_cus"/>
        <result column="creal_mark" property="creal_mark"/>
        <result column="creal_main_date" property="creal_main_date"/>
        <result column="creal_maker" property="creal_maker"/>
        <result column="del" property="del"/>
        <result column="create_time" property="create_time"/>
        <result column="create_user" property="create_user"/>
        <result column="update_time" property="update_time"/>
        <result column="update_user" property="update_user"/>
    </resultMap>

    <!-- 单条查询 -->
    <select id="selectRelationship" resultMap="RmrealResultMap" parameterType="com.clps.rm.pojo.RmrealPo">
        SELECT
            `creal_cus_num`,
            `creal_retype`,
            `creal_rel_cus`,
            `creal_mark`,
            `creal_main_date`,
            `creal_maker`,
            `del`,
            `create_time`,
            `create_user`,
            `update_time`,
            `update_user`
        FROM
            rm_rmreal
        WHERE
            `del` = 'N'
            AND `creal_cus_num` = #{creal_cus_num}
            AND `creal_retype` = #{creal_retype}
            AND `creal_rel_cus` = #{creal_rel_cus}
    </select>

    <!-- 删除 -->
    <update id="deleteRelationship" parameterType="com.clps.rm.pojo.RmrealPo">
        UPDATE `rm_rmreal`
        SET
            `del`         = 'Y',
            `update_time` = #{update_time},
            `update_user` = #{update_user}
        WHERE
            `creal_cus_num` = #{creal_cus_num}
            AND `creal_retype` = #{creal_retype}
            AND `creal_rel_cus` = #{creal_rel_cus}
    </update>

    <!-- 编辑 -->
    <update id="updateRelationship" parameterType="com.clps.rm.pojo.RmrealPo">
        UPDATE `rm_rmreal`
        SET
            `creal_mark`      = #{creal_mark},
            `creal_main_date` = #{creal_main_date},
            `creal_maker`     = #{creal_maker},
            `update_time`     = #{update_time},
            `update_user`     = #{update_user}
        WHERE
            `creal_cus_num` = #{creal_cus_num}
            AND `creal_retype` = #{creal_retype}
            AND `creal_rel_cus` = #{creal_rel_cus}
    </update>

    <!-- 添加 -->
    <insert id="insertRelationship" parameterType="com.clps.rm.pojo.RmrealPo">
        INSERT INTO `rm_rmreal` (
            `creal_cus_num`,
            `creal_retype`,
            `creal_rel_cus`,
            `creal_mark`,
            `creal_main_date`,
            `creal_maker`,
            `del`,
            `create_time`,
            `create_user`,
            `update_time`,
            `update_user`
        )
        VALUES
            (
                #{creal_cus_num},
                #{creal_retype},
                #{creal_rel_cus},
                #{creal_mark},
                #{creal_main_date},
                #{creal_maker},
                'N',
                #{create_time},
                #{create_user},
                #{update_time},
                #{update_user}
            )
    </insert>

    <!-- 多条查询 -->

    <!-- 根据客户号查询 -->
    <!-- 总数查询 -->
    <select id="getRelationList_count" resultType="Long" parameterType="Map">
        select count(*) as `count`
        from `rm_rmreal` a
        <include refid="getRelationList_condition"/>
    </select>
    <!-- 信息查询 -->
    <select id="getRelationList" resultType="Map" parameterType="Map">
        select
        a.`creal_cus_num` AS `crealqo_cus_num`,
        a.`creal_retype` AS `crealqo_retype`,
        a.`creal_rel_cus` AS `crealqo_rel_cus`
        from `rm_rmreal` a
        <include refid="getRelationList_condition"/>
        <!-- 默认 -->
        <if test="sortName !=null and sortName !='' ">ORDER BY `${sortName}` ${sortOrder}</if>
        LIMIT ${offset},${limit}
    </select>
    <!-- 条件 -->
    <sql id="getRelationList_condition">
        <where>
            1=1 and a.`del`='N'
            <!-- 自定义搜索 -->
            and a.`creal_cus_num` = #{creal_cus_num}
            <if test="creal_retype != null and creal_retype != '' ">and a.`creal_retype`= #{creal_retype}</if>
            <if test="creal_rel_cus != null and creal_rel_cus != '' ">and a.`creal_rel_cus`= #{creal_rel_cus}</if>
            <!-- 默认搜索 -->
            <if test="create_time !=null and create_time !='' ">and (a.create_time>#{create_time_start} and
                a.create_time &lt; #{create_time_end} )
            </if>
            <if test="create_user !=null and create_user !='' ">and a.create_user like concat('%',#{create_user},'%')
            </if>
            <if test="update_time !=null and update_time !='' ">and (a.update_time>#{update_time_start} and
                a.update_time &lt; #{update_time_end} )
            </if>
            <if test="update_user !=null and update_user !=''">and a.update_user like concat('%',#{update_user},'%')
            </if>
        </where>
    </sql>


</mapper>